autopep8
coverage
jupyter_sphinx
jyquickhelper
keyring
keyrings.cryptfile
Mako
matplotlib
pandas
Pillow
pycodestyle
pylint>=2.14.0
pycryptodomex
pyquickhelper
pyquicksetup
sphinx
sphinxcontrib.imagesvg
wheel
